/* -------------------- 
------ NAVIGATION ------
-------------------- */
.navbar {
    background-color: var(--cyanblaa);
    color: var(--lyssand);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo_nav {
    width: 50px;
    margin: 5px 10px;
}

#burger {
    margin-right: 1em;
}

.burgerlinje {
    background-color: var(--lyssand);
    width: 2em;
    height: 3px;
    margin: .4em 0;
    border-radius: 10px;
}

#menu {
    position: absolute;
    background-color: var(--cyanblaa);
    width: 100%;
    padding: 0.4em 1em;
    top: 3.6em;
    color: var(--lyssand);
    display: none;
    transition: all ease-in-out .3s; /* FUNGERER IKKE */
    z-index: 1000; /*SØRGER FOR DROPDOWN MENU IKKE BLIVER SAT BAGVED CONTENT*/
}

#menu.aktiv { /* Til js */
    display: block;
}

/* Burgerikon når menuen er åben */
#burger.aktiv .burgerlinje:nth-child(2) {
    opacity: 0;
}

#burger.aktiv .burgerlinje:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#burger.aktiv .burgerlinje:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}

/* Styling af menupunkter */
.menupunkt {
    border-top: 1px solid var(--lyssand);
    padding: 0.5em 0;
    font-size: 1.2em;
}

.menupunkt a {
    color: var(--lyssand);
    display: block;
}

.dropdown {
    display: none;
}

.underpunkt {
    padding: 0.3em 0 0.2em 2em;
}

.underpunkt a {
    font-size: 0.9em;
}

/*START AF EVENTS SIDEN*/

h1 { /* EVENTS titel */
    color: var(--roed);
    margin: 1em 0 1em 0;
    font-size: 2em;
    text-align: center;
}

.event-container { /*EN CONTAINER FOR ALLE EVENT-KORTENE OPSAT I GRID FOR SÆTTE DEM I 2 KOLONNER*/
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center; /*CENTRERE ELEMENTERNE*/
    gap: 1em;
    row-gap: 2em;
    padding: 20px;
    margin: 0 auto; /* CENTRERE CONTAINEREN */
}

.event-kort {
    position: relative;
    width: 100%; /* FYLDER HELE BREDDEN AF KOLONNEN */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 4px grey;
}



.event-image {
    width: 100%;
    display: block;
}

.event-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--lyssand);
    text-align: center;
    padding: 20px;
}

.event-info h2 { 
    text-transform: uppercase;
    margin: 0;
    font-size: 1em;
}

.event-dato-pris {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--roed);
    color: var(--lyssand);
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.event-dato-pris, #dato, #pris {
    font-size: smaller;
}

.event-dato, #dato {
    font-weight: 600;
}

/*-- FADE IN SCROLL EFFEKT -- */

.event-kort {
    opacity: 0; /* EVENT-KORT BLIVER SKJULT */
    transform: translateY(20px); /* DEN BEVÆGER EN SMULE NED */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.event-kort.visning {
    opacity: 1; /* EVENT-KORT BLIVER VIST */
    transform: translateY(0); /* BEVÆGER SIG TIL DEN ORIGINALE POSITION */
}

/* -------------------- 
------ DESKTOP ------
-------------------- */

@media screen and (min-width: 768px) {
    .event-container {
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        gap: 2.5em;
        row-gap: 2em;
        padding: 20px;
        margin: auto; /*DETTE CENTRERER MIN CONTAINER*/
        max-width: 1000px; /*SÆTTER EN PASSENDE BREDDE FOR MIN CONTAINER*/
    }

    h1 { /* EVENTS titel */
        color: var(--roed);
        margin-top: 1.5em;
        font-size: 3em;
        text-align: center;
    }

    .event-kort:hover {
        transform: scale(1.05); /* DETTE FORSTØRRE KORT VED HOVER */
        box-shadow: 0 4px 8px var(--morkblaa); /* GØR SKYGGEN MØRKERE OG STØRRE */
        transition: 0.5s ease-in-out; /*SÆTTER EN SMOOTH TRANSITION DER VARER 0.5 s */
    }

    .event-info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--lyssand);
        text-align: center;
        padding: 20px;
        font-size: 1.5em; /*SÆTTER NAVN, DATO, PRIS I DEN KORREKTE STØRRELSE*/
    }
}



@media screen and (min-width: 1024px) {
    /* -------------------- 
    --------- MENU --------
    ----------------------- */
    .navbar {
        height: 5em;
        position: sticky;
        box-shadow: 0 1.5em 2em #00000020;
    }

    #menu {
        display: flex;
        position: static;
        width: auto;
        gap: 3rem;
        padding: 0 7em 0 0;
    }

    #menu.aktiv { /* Til js */
        display: flex;
    }

    .menupunkt {
        border-top: none;
        padding: 0;
        font-size: 0.9em;
        display: block;
    }

    .submenu {
        display: block;
    }

    .submenu i {
        padding-left: 0.7em;
    }

    .menupunkt:hover {
        cursor: pointer;
    }

    .dropdown {
        position: absolute;
        background-color: var(--cyanblaa);
        padding: 2em 1em 1.5em 1em;
        border-radius: 0.2em;
        width: 12em;
        box-shadow: 0 1.5em 2em #00000020;
        z-index: -999;
        margin-left: -1em;
        transition: all ease 0.5s;
        display: none;
    }

    .submenu:hover .dropdown {
        display: block;
        margin-top: 0;
    }

    .underpunkt {
        padding: 1em 0 0.2em 0;
        border-bottom: solid 1px var(--lyssand);
    }

    .underpunkt:nth-child(1) {
        border-top: solid 1px var(--lyssand);
    }

    #burger {
        display: none;
    }

    .logo_nav {
        width: 6em;
        margin: 0 0 -3em 2em;
    }
}