main {
    margin: 3%;
    overflow: hidden;
}

.forside_sektion1 {
    border-bottom: 2px solid var(--morkblaa);
    margin-bottom: 10%;
}

.forside_container1_img {
    display: flex;
    justify-content: center;
    align-items: start;
}

.forside_img_monstera {
    display: none;
}

.forside_img_kopper {
    height: auto;
    width: 38%;
    max-width: 200px;
    margin: 6%;
}

.forside_p {
    padding: 5% 0;
}



/* Billede-karrusel */
.forside_sektion2 { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.forside_karrusel_wrapper { 
    max-width: 64em; 
    width: 90%;
} 

.forside_karrusel  {
    position: relative;
}

.forside_karrusel_indhold {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
}

.forside_karrusel_knap {
    border: 2px solid var(--lyssand);
    background-color: var(--roed);
    box-shadow: 5px 5px 8px #000000a3;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    color: var(--lyssand);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.9;
    font-size: 1.1em;
}

#forside_venstreknap {
    left: -20px;
}

#forside_hojreknap {
    right: -20px;
}

.forside_karrusel_knap:hover {
    opacity: 1;
}

 .forside_element {
    position: relative;
    width: 17em;
    height: 17em;
    flex-shrink: 0;/* ?? */ 
}

.forside_element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forside_element_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}


.forside_element_knap { 
    padding: 0.6em 1.7em;
    border: none;
    border-radius: 5px;
    background-color: var(--roed);
    color: var(--lyssand);
    box-shadow: 5px 5px 8px #000000a3;
    transition: ease-in-out .5s;
    cursor: pointer;
    margin-bottom: 2em;
}

.forside_element_knap:hover {
    font-size: 1.2em;
}


/* FAQ */
.forside_container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forside_img_chesterfield {
    width: 50%;
    max-width: 250px;
    margin: 6% 6% 0 6%;
}

.forside_displayfont {
    transform: rotate(60deg);
    width: 50%;
    margin: -1em 5em 4em -6em;
    max-width: 15em;
}

.forside_faq_container {
    background-color: var(--morksand);
    padding: 1.5em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 32em;
}

.forside_faq {
    width: 100%;
}

.forside_faq_element {
    margin-top: 1em;
}

.forside_faq_element.aktiv .forside_faq_svar {
    display: block;
}

.forside_faq_sporgsmaal {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
}

.forside_faq_sporgsmaal h3 {
    font-weight: 400;
    font-size: 1em;
}

.forside_faq_svar {
    display: none;
}

.forside_faq_svar p {
    font-size: 0.9em;
    border-bottom: solid 1.5px var(--morkblaa);
    padding: 1em 0 1em 4em;
}

.faq_knap {
    border: none;
    background-color: var(--roed);
    color: var(--lyssand);
    border-radius: 100%;
    padding: 0.45em 0.7em;
    display: block; /* maybe */
    transition: transform 0.5s ease;
}

.forside_faq_element.aktiv .faq_knap {
   transform: rotate(90deg);
}






@media screen and (min-width: 768px) {

    .forside_element {
        width: 20em;
        height: 20em;
    }
} 

@media screen and (min-width: 1024px) {
     /* Video */
    .forside_video_container {
        width: 100vw;
        min-height: 370px;
        max-height: 1080px;
        height: 50vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .forside_video_container video {
        min-width: 100%;
        min-height: 100%;
    }

    /* Introduktion sektion */
    .forside_container1 {
        display: flex;
        gap: 1rem;
    }

    .forside_sektion1 {
        margin-bottom: 6em;
    }
    
    /* Styling af illustrationer*/
    .forside_container1 {
        width: 80%;
        max-width: 1000px;
        margin: 2em auto;
    }

    .forside_container1_img {
        order: 2;
        gap: 1em;
    }

    .forside_img_kopper {
        width: 11em;
        margin: -2em -3em 0 0;
    }

    .forside_img_monstera {
        display: block;
        transform: rotate(-20deg);
        width: 13em;
        padding-top: 10em;
        margin-bottom: -2.5em;
    }

    .forside_sektion1_tekst h1 {
        text-align: left;
    }

    /* Billede karrusel */
    .forside_sektion2 {
        margin-bottom: 7em;
    }

    /* FAQ sektion */
    .forside_sektion3 {
        margin: 5em 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .forside_container2 {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        max-width: 65em;
        position: relative;
    }
    .forside_illustration {
        height: auto;
        padding: 1em;
        margin: 0;
    }
    .forside_img_chesterfield {
        max-width: 21em;
    }

    .forside_displayfont {
        transform: rotate(0deg);
        position: absolute;
        width: 12em;
        margin: -3em 0em 0em 28%;
        top: 0;
    }

    .forside_faq_container {
        background-color: var(--morksand);
        padding: 1.5em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32em;
    }

    .forside_faq_element {
        margin-top: 1.5em;
    }

    .forside_faq_sporgsmaal h3 {
        font-size: 1.1em;
    } 

    .forside_faq_svar p {
        font-size: 1em;
    }
}


@media screen and (min-width: 1921px) {
     /* Video forsvinder, hvis sitet tilgås fra en monitor større end 1920x*/
     .forside_video_container {
        display: none;
    }
}