main {
    margin: 3%;
}

.forside_sektion1 {
    border-bottom: 2px solid var(--morkblaa);
    margin-bottom: 10%;
}

.forside_container1_img {
    display: flex;
    justify-content: center;
}

.forside_img_mostera {
    display: none;
}

.forside_illustration {
    height: 100%;
    width: 38%;
    max-width: 250px;
}

.forside_p {
    padding: 5% 0;
}