/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
img, video, svg {
    display: block;
    max-width: 100%;
  }
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

/* -------------------- 
------ STYLE KIT ------
-------------------- */

/* Farver */
:root {
    --morkblaa: rgba(2, 24, 43, 1);
    --roed: rgba(182, 22, 36, 1);
    --cyanblaa: rgba(60, 133, 144, 1);
    --morksand: rgba(243, 231, 196, 1);
    --lyssand: rgba(255, 254, 245, 1);
}

/* Generel styling */
body {
    background-color: var(--lyssand);
    color: var(--morkblaa);
    font-family: "Jost", sans-serif;
}

h1 { /* Bruges til over-overskrift */
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: var(--roed);
}

h2 { /* Bruges til underoverskrift */
    font-size: 1.3em;
    font-weight: 600;
}

h3 { /* knap */
    font-size: 1.1em;
    font-weight: 500;
}

h4 { /* introducerende brødtekst */
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* -------------------- 
------ NAVIGATION ------
-------------------- */
.navbar {
    background-color: var(--cyanblaa);
    color: var(--lyssand);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo_nav {
    width: 50px;
    margin: 5px 10px;
}

#burger {
    margin-right: 1em;
}

.burgerlinje {
    background-color: var(--lyssand);
    width: 2em;
    height: 3px;
    margin: .4em 0;
    border-radius: 10px;
}

#menu {
    position: absolute;
    background-color: var(--cyanblaa);
    width: 100%;
    padding: 0.4em 1em;
    top: 3.6em;
    color: var(--lyssand);
    display: none;
    transition: all ease-in-out .3s; /* FUNGERER IKKE */
}


#menu.aktiv { /* Til js */
    display: block;
}

/* Burgerikon når menuen er åben */
#burger.aktiv .burgerlinje:nth-child(2) {
    opacity: 0;
}

#burger.aktiv .burgerlinje:nth-child(1) {
    transform: translateY(8px) rotate(45deg)
}

#burger.aktiv .burgerlinje:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg)
}

/* Styling af menupunkter */
.menupunkt {
    border-top: 1px solid var(--lyssand);
    padding: 0.5em 0;
    font-size: 1.2em;
}

.menupunkt a {
    color: var(--lyssand);
    display: block;
}

.dropdown {
    display: none;
}

.underpunkt {
    padding: 0.3em 0 0.2em 2em;
}

.underpunkt a {
    font-size: 0.9em;
}


/* START */

h1 {
    margin-top: 2em;
    text-align: center;
}

.kunstner-dato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: var(--roed);
    border-radius: 50%;
    display: inline-block;
}

.spotify-container {
    margin: 20px;
}


.event-tekst-container {
    margin: 1.5em;
}

.event-tekst-container, h3 {
    margin-top: 2.5em;
    font-weight: 600;
}

.event-tekst-container, p {
    margin-top: 1.5em;
    font-weight: 400;
    line-height: 1.5; /*SØRGER FOR AT DOTS LIGGER PÅ LINJE MED TEKSTEN*/
}

.dot2 {
    height: 5px;
    width: 5px;
    vertical-align: middle; /*SÆTTER DOTS I MIDTEN VERTIKALT*/
    margin-right: 5px;
    background-color: var(--roed);
    border-radius: 50%;
    display: inline-block;
}

.illustration-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em 2em 0 2em;
}

#plek {
    display: none;
}

#viser {
    margin-top: 10rem;
}
.maps-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 4%;
    overflow: hidden;
}

/* -------------------- 
------ DESKTOP ------
-------------------- */

@media screen and (min-width: 768px){
    h1 { /* Bruges til over-overskrift */
        font-size: 2.4em;
    }
    
    h2 { /* Bruges til underoverskrift */
        font-size: 1.5em;
    }
    
    h3 { /* knap */
        font-size: 1.2em;
    }
    
    h4 { /* introducerende brødtekst */
        font-size: 1.1em;
    }
    
    p {
        font-size: 1em;
    }


/* -------------------- 
--------- JONAS RINGTVED --------
----------------------- */


@media screen and (min-width: 1024px){ /* Bruges kun til menulinjen */
/* -------------------- 
--------- MENU --------
----------------------- */
.navbar {
    height: 5em;
    position: sticky;
    box-shadow: 0 1.5em 2em #00000020;
}

#menu {
    display: flex;
    position: static;
    width: auto;
    gap: 3rem;
    padding: 0 8em 0 0;
}

#menu.aktiv { /* Til js */
    display: flex;
}

.menupunkt {
    border-top: none;
    padding: 0;
    font-size: 1em;
    display: block;
}

.submenu {
    display: block;
}

.menupunkt:hover {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    background-color: var(--cyanblaa);
    padding: 2em 1em 1.5em 1em;
    border-radius: 0.2em;
    width: 12em;
    box-shadow: 0 1.5em 2em #00000020;
    z-index: -999;
    margin-left: -1em;
    transition: all ease 0.5s;
    display: none;
}

.submenu:hover .dropdown {
    display: block;
    margin-top: 0;
}

.underpunkt {
    padding: 1em 0 0.2em 0;
    border-bottom: solid 1px var(--lyssand);
}

.underpunkt:nth-child(1) {
    border-top: solid 1px var(--lyssand);
}

#burger {
    display: none;
}

.logo_nav {
    width: 6em;
    margin: 0 0 -3em 2em;
}


/*-- 1024 breakpoint--*/



.spotify-container {
    margin: 2em 15em;
    
}

.event-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.event-wrapper img {
}

#plek {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

#plek2 {
    display: none;
}

.event-tekst-container {
    margin: 0 7em;
    padding-left: 30px;
}


.maps-container {
    margin: 5em 10em;
}
}