/* JONAS RINGTVED */

.kunstner_navn {
    margin-top: 2em;
    text-align: center;
}

.kunstner-dato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: var(--roed);
    border-radius: 50%;
    display: inline-block;
}

.spotify-container {
    margin: 20px;
}


.event-tekst-container {
    margin: 1.5em;
}

.event-tekst-container h3 {
    margin-top: 2.5em;
    font-weight: 600;
}

.event-tekst-container p {
    margin-top: 1.5em;
    font-weight: 400;
    line-height: 1.5; /*SØRGER FOR AT DOTS LIGGER PÅ LINJE MED TEKSTEN*/
}

.dot2 {
    height: 5px;
    width: 5px;
    vertical-align: middle; /*SÆTTER DOTS I MIDTEN VERTIKALT*/
    margin-right: 5px;
    background-color: var(--roed);
    border-radius: 50%;
    display: inline-block;
}

.illustration-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2em 2em 0 2em;
}

#plek {
    display: none;
}

#viser {
    margin-top: 10rem;
}
.maps-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    overflow: hidden;
}

/* -------------------- 
------ DESKTOP ------
-------------------- */
/* -------------------- 
--------- JONAS RINGTVED --------
----------------------- */


@media screen and (min-width: 1024px){ /* Bruges kun til menulinjen */
.spotify-container {
    margin: 5em 15em;
    
}

.event-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 100px;

}

#plek {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
}

#plek2 {
    display: none;
}

#viser {
    position: right;
    width: 350px;
    height: auto;
}


.event-tekst-container {
    margin: 0 7em;
    padding-left: 30px;
}


.maps-container {
    margin: 5em 10em;
    border-radius: 10px;
}
}