.mad_flexbox_container{
    margin-left: 7%;
    margin-right: 7%;
}

.mad_flexbox_sektion{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#mad_overskrift{
    padding-top: 10%;
    padding-bottom: 5%;
}

#mad_introtekst{
    text-align: center;
}

.mad_flexbox_modal_kaffe{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mad_flexbox_modal_bagvaerk{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.mad_knap{
    max-width: 50%;
    margin-bottom: 3%;
}

#mad_haandskrift_1{
    max-width: 30%;
    margin-top: 10%;
    margin-right: 80%;
    margin-bottom: -10%;
}

#mad_haandskrift_2{
    max-width: 35%;
    margin-left: 65%;
    margin-top: 5%;
    margin-bottom: -8%;
}