
#h1_fejl{
    margin-top: 2em;
    text-align: center;
}

.h4_fejl {
text-align: center;
margin-top: 1.5em;
}

.knap-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
}

.fejl_element_knap{
    padding: 0.6em 1.7em;
    border: none;
    border-radius: 5px;
    background-color: var(--roed);
    color: var(--lyssand);
    box-shadow: 3px 3px 6px #000000a3;
    transition: ease-in-out .5s;
    cursor: pointer;
    margin-bottom: 2em;
}